* {
    font-family: 'Major Mono Display', monospace;
    color: #ffffff;
}
li{
    list-style: none;
}
body{
    background-color: #141417;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #529cf7;
    border-left: 1px solid #f75268;
    border-right: 1px solid #f75268;
    width: 80%;
    margin-bottom: 20px;
}
.header-title{
    font-size: 60px;
}

.search-bar{
    margin-bottom: 20px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.search-bar button{
    color: white;
    background-color: transparent;
    outline: none;
    font-size: 20px;
    height: 40px;
    border-top: none;
    border-bottom: none;
}
.search-bar button:hover{
    color: #529cf7;
    border: 1px solid #f75268;
    border-left: 1px solid #529cf7;
    border-right: 1px solid #529cf7;
}
#search-input{
    box-sizing: border-box;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    height: 50px;
    width: 100%;
    font-size: 30px;
    text-align: center;
    
}
#album-list {
    width: 80%;
}
#album-list ul {
    text-transform: lowercase;
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items: flex-start;
    padding-left: 0px;
}
#album-list ul img{
    height: 50px;
    width: auto;
    margin-right: 5px;
}
#track-canvas{
    margin-left: 5%;
    border: 1px solid white;
}

#album-canvi{
    display: flex;
    flex-direction: column;
}
#album-canvi:hover{
    cursor: crosshair;
}